.ipynb_checkpoints
.DS_Store
.bak
__pycache__/

# large files
data/WDPA_Jul2023_Public_csv
AllData_Onward_20190329.csv
pdfsICES
missingICESpdfs
icesMissing

/cache
/resources
data/World_EEZ_v11_20191118_gpkg
data/OceanSODA_ETHZ-v2023.OCADS.01_1982-2022.nc